[Unit]
Description=Mosdns Service (%i)
After=network.target

[Service]
WorkingDirectory=/etc/mosdns
Type=simple
User=root
DynamicUser=yes
StartLimitInterval=5
StartLimitBurst=10
Restart=abnormal
RestartSec=120
LimitNOFILE=102400
ExecStart=/usr/bin/mosdns start -c config.yml

[Install]
WantedBy=multi-user.target
